* {
    margin: 0;
    padding: 0;
}

i {
    font-style: normal;
}

a {
    text-decoration: none;
}

body,
html {
    font-family: "微软雅黑";
}

.all {
    background: #ffffff;
}

.main {
    width: 1308px;
    margin: 0 auto;
}

.head {
    overflow: hidden;
    height: 87px;
}

#tixing {
    border: 1px solid #e6e6e6;
    z-index: 5;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 493px;
    height: 185px;
    background-color: #ffffff;
}

#zhezhao {
    /* filter: alpha(opacity=30); */
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4;
    background-color: #e6e6e6;
}

.tix {
    width: 493px;
    height: 42px;
    font-size: 14px;
    color: #646464;
    line-height: 42px;
    text-align: center;
    background: #f5f5f5;
}

.iri {
    display: block;
    margin-top: 23px;
    margin-left: 26px;
    margin-right: 46px;
    font-size: 12px;
    color: #646464;
}

.iri span {
    color: #ff2935;
}

#zdl {
    border: none;
    outline: none;
    cursor: pointer;
    background: #ff2935;
    margin-left: 219px;
    margin-top: 32px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    color: #ffffff;
    width: 57px;
    height: 24px;
}

.logo {
    float: left;
    margin-top: 20px;
    margin-left: 54px;
}

.yijian {
    margin-top: 46px;
    margin-right: 55px;
    float: right;
    font-size: 12px;
}

.yijian img {
    vertical-align: middle;
}

.yijian a {
    vertical-align: middle;
    color: #787878;
}

.yijian a:hover {
    text-decoration: underline;
}

.ad {
    margin-left: 84px;
}

.ad img {
    float: left;
    width: 615px;
    height: 592px;
}

.dengluall {
    margin-top: 64px;
    margin-right: 54px;
    float: right;
    width: 363px;
    background: #ffffff;
}

.wenxts {
    width: 361px;
    height: 28px;
    background: #fef7f5;
    border: 1px solid #fedbd1;
    font-size: 12px;
    color: #91909e;
    line-height: 28px;
}

.wenxts img {
    margin-left: 3px;
    margin-right: 5px;
    vertical-align: middle;
}

.wenxts span {
    vertical-align: middle;
}

.wenxts a:hover {
    text-decoration: underline;
}

.erwmdenglu {
    display: none;
    margin-top: 8px;
    overflow: hidden;
    border: 1px solid #eef2f4;
    border-top: none;
    width: 361px;
    height: 429px;
    background: #ffffff;
}

.erwmdenglu h3 {
    float: left;
    margin-top: 17px;
    margin-left: 25px;
    font-size: 18px;
    font-weight: normal;
}

.dengluright {
    float: right;
}

.mim {
    position: relative;
    top: -27px;
}

.erwm {
    margin-top: 116px;
    margin-left: 99px;
    border: 1px solid #ececec;
    width: 165px;
    height: 165px;
    text-align: center;
}

.erwm span {
    height: 100%;
    vertical-align: middle;
    width: 0;
    display: inline-block;
}

.erwm img {
    display: inline-block;
    vertical-align: middle;
}

.erwmdenglu .dakai {
    margin-top: 55px;
    margin-left: 99px;
    font-size: 14px;
    color: #6c6c6c;
}

.dakai a {
    color: #ff2935;
}

.dakai a:hover {
    text-decoration: underline;
}

.mimadenglu {
    margin-top: 8px;
    overflow: hidden;
    border: 1px solid #eef2f4;
    border-top: none;
    width: 361px;
    height: 450px;
    background: #ffffff;
}

.mimadenglu h3 {
    float: left;
    margin-top: 17px;
    margin-left: 25px;
    font-size: 18px;
    font-weight: normal;
}

#yhum {
    margin-bottom: 30px;
    margin-left: 26px;
    margin-top: 57px;
    width: 312px;
    height: 39px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
}

.icon-icon-user {
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 7px;
    float: left;
    color: #dfdfdf;
}

#yhum input {
    float: left;
    width: 275px;
    height: 35px;
    border: none;
    outline: none;
}

#mim {
    margin-left: 26px;
    width: 312px;
    height: 39px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
}

.icon-mima {
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 7px;
    float: left;
    color: #dfdfdf;
}

#mim input {
    float: left;
    width: 276px;
    height: 38px;
    border: none;
    outline: none;
}

.empty {
    width: 363px;
    height: 146px;
    background: rebeccapurple;
}

#checkbox {
    margin-bottom: 12px;
    vertical-align: middle;
    margin-left: 28px;
    font-size: 12px;
    color: #6e6e6e;
}

#checkbox input {
    vertical-align: middle;
}

.forget {
    margin-left: 78px;
    color: #1a66b3;
}

.forget:hover {
    text-decoration: underline;
}

#denglubtn {
    border: none;
    border-radius: 3px;
    width: 311px;
    height: 44px;
    background-color: #ff2832;
    line-height: 44px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-left: 25px;
}

#denglubtn:hover {
    background-color: #f01923;
}

.zhengce {
    margin-bottom: 3px;
    margin-top: 12px;
    margin-left: 25px;
    font-size: 12px;
    color: #6e6e6e;
}

.zhengce .yinsi {
    margin-left: 55px;
    color: #1a66b3;
}

.zhengce .zhuce {
    margin-left: 40px;
    color: #6e6e6e;
}

.zhengce a:hover {
    text-decoration: underline;
}

.hezwangzhan {
    overflow: hidden;
    margin-left: 25px;
}

.hezwangzhan a {
    display: inline-block;
    margin-right: 5px;
}

.more {
    cursor: pointer;
    outline: none;
    border: none;
    background: #ffffff;
    width: 40px;
    height: 16px;
    font-size: 12px;
    color: #969696;
    position: relative;
    left: 12px;
    top: -3px;
}

.bottom {
    border-top: 1px solid #ebebeb;
    margin-top: 591px;
    /*  position: relative;
    left: 0;
    top: 592px; */
}

.last {
    overflow: hidden;
    width: 1308px;
    margin: 0 auto;
    font-size: 12px;
    color: #8c8c8c;
}

.one {
    margin-top: 47px;
    list-style: none;
    margin-left: 276px;
}

.one li,
.two li,
.three li {
    margin-right: 20px;
    float: left;
}

.one li a,
.two li a,
.three li a,
.four a,
.five a {
    font-size: 12px;
    color: #8c8c8c;
}

.one li a:hover {
    text-decoration: underline;
    color: #f48570;
}

.two li a:hover {
    text-decoration: underline;
    color: #f48570;
}

.three li a:hover {
    text-decoration: underline;
    color: #f48570;
}

.four a:hover {
    text-decoration: underline;
    color: #f48570;
}

.five a:hover {
    text-decoration: underline;
    color: #f48570;
}

.word {
    margin-top: 96px;
    display: block;
    text-align: center;
}

.two {
    margin-top: 18px;
    list-style: none;
    margin-left: 338px;
}

.three {
    margin-top: 38px;
    margin-left: 262px;
}

.three ul {
    list-style: none;
}

.three img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.four {
    margin-top: 58px;
    text-align: center;
}

.five {
    margin-top: 7px;
    text-align: center;
}

.six {
    text-align: center;
    margin-top: 27px;
}

.six img {
    margin-right: 18px;
}